
 <!--changes made here ###### Sun Nov 4 20:36:51 IST 2018  -->
 {% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

    {% include 'codemania_app/navbar.html' %}
    
   <main>
     <div class="position-relative">
       <section class="section-shaped my-0">
         <div class="shape shape-style-1 bg-gradient-dark shape-skew">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
         </div>
         <div class="container container-lg shape-container d-flex">
           <div class="col px-0">
             <div class="row">
               <div class="col text-center my-4">
                 <h1 class="display-1 font-weight-bold text-white  mt-2">Cyber Security</h1>
               </div>
             </div>
           </div>
         </div>
       </section>

       <!-- changes made here ###### Thu Nov 8 17:08:22 IST 2018-->
       <section>
        
               <div class="container container-lg">
                <div class="row">     
                <div class="col-lg-8 my-3">
                             <div class="card  shadow border-0">
                                     <img src="{% static 'img/theme/internlogos/cyber.jpg' %}" alt="" class="img-fluid">
                               <div class="card-body ">
                                 <h6 class="display-4 text-uppercase">Cyber Security</h6>
                                 <div class="row">
                                     <div class="col-lg-8">
                                             <p class="mt-3">
                                                     <a href="" class="text-dark">Instructor</a>
                                                     <br> <small class="text-dark">Will be announced soon..</small>
                                                 </p>
                                     </div>
                                     <div class="col-lg-4 text-right">
                                             <p class="font-weight-bold mt-3" style="color:rgb(252, 188, 11);">
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star" aria-hidden="true"></i>
                                                     <i class="fa fa-star-half-full" aria-hidden="true"></i>                  
                                                 </p>
                                     </div>
 
                                 </div>
                                 <h4>Course Description</h4>
                                 <p class="lead ">
                                  Cybersecurity is the protection of internet-connected systems, including hardware, software and data,
                                  from cyber-attacks.
                                  
                                  In a computing context, security comprises cybersecurity and physical security -- both are used by
                                  enterprises to protect against unauthorized access to data centers and other computerized systems.
                                  Information security, which is designed to maintain the confidentiality, integrity and availability of data,
                                  is a subset of cybersecurity.
                                 </p>
                                 <h4> Why Cyber Security Internship Course?  </h4>
                                 <p class="lead ">
                                  In today&#39;s world, companies and corporations spend millions of dollars on defense systems for software
                                  and hardware to protect their valuable assets. Cybersecurity awareness is the first line of defense when
                                  it comes to protecting your useful resources. Proper software and equipment along with professional
                                  cybersecurity employees can keep your assets protected from data breaches, data leaks, and more
                                  types of malicious cyber warfare attacks. Code Mania offers Internship, Workshop &amp; Training on Cyber
                                  Security make you adequately prepared for today&#39;s challenges. The Internship will begin from
                                  intermediate and to advanced courses to suit your level of expertise.   
                                </p>
                                <h4 class="text-underline">Benefits of Cyber Security Certifications:</h4>
                                <p class="lead ">
                                    Upon completion of this course, you will be able to:
                              
                                  <li class="my-1">Understand the information assurance principles</li>
                                  <li class="my-1">Identify the key components of cybersecurity network architecture</li>
                                  <li class="my-1">Explain the processes and practices involved in risk management</li>
                                  <li class="my-1">Understand security tools and hardening techniques</li>
                                  <li class="my-1">Identify different kinds of attacks</li>
                                  <li class="my-1">Distinguish system threats and vulnerabilities</li>
                                  <li class="my-1">Understand the latest IT and IS technologies</li>
                                  <li class="my-1">Understand the latest IT and IS technologies</li>
                                </ul>
                                </p>
 
                                  <!-- change starts here #:32pm 18th oct-->
                                 <div class="text-center my-4">
                                         
                                     <button class="btn btn-dark" data-toggle="modal" data-target="#modal-default1">Download Syllabus</button>
                                         
                                         
                                     <div class="modal fade" id="modal-default1" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                           <div class=" modal-dialog modal-dialog-centered" role="document">
                                             <div class="modal-content bg-gradient-dark">
                                               
                                               <div class="modal-body">
                                                   <h3 class=" text-center text-white">
                                                     Request for the syllabus <br> Contact : +91-7702535506 .
                                                   </h2>
                                               
                                                       <button type="button" class="btn btn-sm my-2  btn-secondary ml-auto" data-dismiss="modal">Close</button>
                                                      
                                               </div>
                                               
                                             </div>
                                           </div>
                                         </div>
                                 </div>
 
                                 <!--change ends here-->
                               </div>
                               
                             </div>
                           </div>
                           <div class="col-lg-4 my-3">
                              <div class="card shadow border-0">
                                  <div class="card-header bg-gradient-dark">
                                      <h3 class="text-white text-center" >Internship Registration</h3>
                                  </div>
                                      <div class="card-body py-5">
                                          <div class="icon icon-shape icon-shape-danger rounded-circle mb-4">
                                              <i class="ni ni-check-bold"></i>
                                            </div>
                                            <h6 class="text-danger text-uppercase">Online Registration</h6>
                                            <h5 class="text-uppercase font-weight-bold mt-3">Price: <span class="display-4">₹​ 4,800.00</span></h5>
                                            <p class="h5 mb-3"><small class="font-weight-bold">52% off <del> &nbsp;₹​ 10,000.00</del></small></p>
                                            <div>
                                              <span class="badge badge-pill badge-danger">1 MONTH</span>
                                              <span class="badge badge-pill badge-success">Online Portal</span>
                                              
                                            </div>
                                            <!-- <a href="https://imjo.in/gKGj2y" target="_blank" class="btn btn-block btn-danger bg-gradient-danger mt-4">Register</a> -->
                                            <button type="button" class="btn btn-block btn-danger bg-gradient-danger mt-4" data-toggle="modal" data-target="#modal-default-2">Register</button>
                                            {% include 'codemania_app/online_intern_form.html' %}
                                        <div class="mt-5">
                                            <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                                <i class="ni ni-check-bold"></i>
                                              </div>
                                              <h6 class="text-success text-uppercase">Offline Registration</h6>
                                              <h5 class="text-uppercase font-weight-bold mt-3">Price: <span class="display-4">₹​ 5,000.00</span></h5>
                                              <p class="h5 mb-3"><small class="font-weight-bold">50% off <del> &nbsp;₹​ 10,000.00</del></small></p>
                                              <div>
                                                <span class="badge badge-pill badge-success">8 Days</span>
                                                <span class="badge badge-pill badge-success">Offline Center</span>
                                                <p class="text-danger mt-2 font-weight-bold">Note: Registration for Hyderabad is not Available</p>
                                                
                                              </div>
                                              <button type="button" class="btn btn-block btn-success bg-gradient-success mt-4" data-toggle="modal" data-target="#modal-default">Register</button>
                                              {% include 'codemania_app/internship_form.html' %}
                                        </div>
                                                </div>
                                         </div>
                                       </div>
                                       </div>
                           </div>
               </div>
               </div>
               </section>

               <!-- changes ends here last modified ###### Thu Nov 8 17:09:34 IST 2018  -->
         
   </main>
   {% include 'codemania_app/footer_scripts.html' %}
 </body>
 
 </html>
  <!--changes ends here ###### Sun Nov 4 20:36:51 IST 2018  -->