{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

    {% include 'codemania_app/navbar.html' %}
    
  <main>
    <div class="position-relative">
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-primary bg-gradient-success shape-skew" >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container container-lg shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col text-center my-4">
                <h1 class="display-1 font-weight-bold text-white  mt-2">Machine Learning With Python</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
          <div class="container container-lg">
              <div class="row">
                    <div class="col-lg-8 my-3">
                            <div class="card  shadow border-0">
                                    <img src="{% static 'img/theme/internlogos/ML.png' %}" alt="" class="img-fluid">
                              <div class="card-body ">
                                <h6 class="display-4 text-uppercase">Machine Learning With Python</h6>
                                <div class="row">
                                    <div class="col-lg-8">
                                            <p class="mt-3">
                                                    <a href="" class="text-success">Instructor</a>
                                                    <br> <small class="text-dark">Will be announced soon...</small>
                                                </p>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                            <p class="font-weight-bold mt-3" style="color:rgb(252, 188, 11);">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>                  
                                                </p>
                                    </div>

                                </div>
                                <h4>Course Description</h4>
                                <p class="lead text-muted">
                                    Machine learning is a core sub-area of artificial intelligence; it enables computers to get into a mode of self-learning without being explicitly programmed. When exposed to new data, these computer programs are enabled to learn, grow, change, and develop by themselves. 
                                </p>
                                <h4> Why machine Learning Internship Course?</h4>
                                <p class="lead text-muted">
                                    The Workshop begins with a conceptual introduction to machine learning algorithms. This is followed by an introduction to the implementation of estimators in scikit-learn and best practices for using them. The rest of the workshop is focused around specific feature sources, and for each progresses through a short introductory lecture followed by three exercises of progressive difficulty, starting with standard and well-behaved cases, and ending with realworld and realistically problematic case studies. 
Throughout, the focus of the course is on building deep conceptual understanding, exhaustive practical experience, and covering common mistakes and edge cases. Intermingled in the machine learning material will be short discussions of helpful and diagnostic data visualizations. 
                                </p>
                                <!-- change starts here #:32pm 18th oct-->
                                <div class="text-center my-4">
                                      
                                  <a href="{% static 'docs/Machine_Learning_revised.pdf' %}" class="btn btn-success" target="_blank">Download Syllabus</a>
                                        
                                        
                                    <div class="modal fade" id="modal-default1" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                          <div class=" modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content bg-gradient-success">
                                              
                                              <div class="modal-body">
                                                  <h3 class=" text-center text-white">
                                                    Request for the syllabus <br> Contact : +91-7702535506 .
                                                  </h2>
                                              
                                                      <button type="button" class="btn btn-sm my-2  btn-primary ml-auto" data-dismiss="modal">Close</button>
                                                     
                                              </div>
                                              
                                            </div>
                                          </div>
                                        </div>
                                </div>

                                <!--change ends here-->
                              </div>
                              
                            </div>
                          </div>
                          <div class="col-lg-4 my-3">
                              <div class="card shadow border-0">
                                  <div class="card-header bg-gradient-dark">
                                      <h3 class="text-white text-center" >Internship Registration</h3>
                                  </div>
                                      <div class="card-body py-5">
                                          <div class="icon icon-shape icon-shape-danger rounded-circle mb-4">
                                              <i class="ni ni-check-bold"></i>
                                            </div>
                                            <h6 class="text-danger text-uppercase">Online Registration</h6>
                                            <h5 class="text-uppercase font-weight-bold mt-3">Price: <span class="display-4">₹​ 4,800.00</span></h5>
                                            <p class="h5 mb-3"><small class="font-weight-bold">52% off <del> &nbsp;₹​ 10,000.00</del></small></p>
                                            <div>
                                              <span class="badge badge-pill badge-warning">1 MONTH</span>
                                              <span class="badge badge-pill badge-danger">Online Portal</span>
                                              
                                            </div>
                                            <!-- <a href="https://imjo.in/4YVzES" target="_blank" class="btn btn-block btn-danger bg-gradient-danger mt-4">Register</a> -->
                                            <div class="div">
                                              <button type="button" class="btn btn-block btn-danger bg-gradient-danger mt-4" data-toggle="modal" data-target="#modal-default-2">Register</button>
                                            {% include 'codemania_app/online_intern_form.html' %}
                                            </div>
                                        <div class="mt-5">
                                            <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                                <i class="ni ni-check-bold"></i>
                                              </div>
                                              <h6 class="text-success text-uppercase">Offline Registration</h6>
                                              <h5 class="text-uppercase font-weight-bold mt-3">Price: <span class="display-4">₹​ 5,000.00</span></h5>
                                              <p class="h5 mb-3"><small class="font-weight-bold">50% off <del> &nbsp;₹​ 10,000.00</del></small></p>
                                              <div>
                                                <span class="badge badge-pill badge-success">8 Days</span>
                                                <span class="badge badge-pill badge-success">Offline Center</span>
                                                
                                              </div>
                                              <button type="button" class="btn btn-block btn-success bg-gradient-success mt-4" data-toggle="modal" data-target="#modal-default">Register</button>
                                              {% include 'codemania_app/internship_form.html' %}
                                        </div>
                                       

                                      
                                                </div>
                                        </div>
                                      </div>
                          </div>
              </div>
              </div>
              </section>
        
  </main>
  
  {% include 'codemania_app/footer_scripts.html' %}
</body>

</html>