{% load staticfiles %}
<div class="dropdown">
        <a class="float btn btn-primary btn-round btn-sm"  data-toggle="dropdown" href="#" role="button">
            <i class="material-icons mt-1">notifications_active</i>
        </a>
            <div class="dropdown-menu dropdown-menu-lg  dropdown-menu-right bg-gradient-dark">
                <div class="dropdown-menu-inner">
                    <a href="" style="font-size:1em" class="m-2 media d-flex align-items-center">
                        <div class=" text-primary">
                          <i class="material-icons" style="font-size:1.6em">notifications</i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class=" text-primary mb-md-1" style="font-size:1em">You can now verify your certificates and get recommended in our Top hiring companies !!. <span class="text-muted">10 min ago.</span></h6>
                        </div>
                      </a>

                  <a href="" style="font-size:1em" class="m-2 media d-flex align-items-center">
                    <div class=" text-primary">
                      <i class="material-icons" style="font-size:1.6em">notifications</i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class=" text-primary mb-md-1" style="font-size:1em">Ethical hacking internship is now available !!. <span class="text-muted">10 min ago.</span></h6>
                    </div>
                  </a>

                  <a href="" style="font-size:1em"  class="m-2 media d-flex align-items-center">
                    <div class=" text-primary">
                        <i class="material-icons" style="font-size:1.6em">notifications</i>
                      </div>
                    <div class="media-body ml-3">
                      <h6 class="text-primary mb-md-1" style="font-size:1em">Cyber Security internship is now available in the website !!. <span class="text-muted">1hr ago.</span></h6>
                    </div>
                  </a>

                  <a href = "https://imjo.in/TS3pzU" style="font-size:1em" class="m-2 media d-flex align-items-center">
                    <div class=" text-primary">
                      <i class="material-icons" style="font-size:1.6em">notifications</i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class=" text-primary mb-md-1" style="font-size:1em">Book your slot for internship before it ends. <span class="text-muted">30 min ago.</span></h6>
                    </div>
                  </a>


                  <!-- <h6 class=" text-primary mb-md-1" style="font-size:1em"><a href = "">Book your slot for internship before it ends.</a> <span class="text-muted">30 min ago.</span></h6> -->
                  <a href="" style="font-size:1em"  class="m-2 media d-flex align-items-center">
                      <div class=" text-primary">
                          <i class="material-icons" style="font-size:1.6em">notifications</i>
                        </div>
                    <div class="media-body ml-3">
                      <h6 class=" text-primary mb-md-1" style="font-size:1em">Idea specific intern will be available in the website soon. <span class="text-muted">30 min ago.</span></h6>
                    </div>
                  </a>

                    <a href="" style="font-size:1em"  class="m-2 media d-flex align-items-center">
                      <div class=" text-primary">
                          <i class="material-icons" style="font-size:1.6em">notifications</i>
                        </div>
                      <div class="media-body ml-3">
                        <h6 class="text-primary mb-md-1" style="font-size:1em">Machine Learning with Python updated and uploaded. <span class="text-muted">1hr ago.</span></h6>
                      </div>
                    </a>
                </div>
              </div>

</div>
